# Папка для временных файлов
data/

# Файлы и папки виртуального окружения
venv/
*.egg-info/
*.egg

# Папка для сборки
build/
dist/

# Файлы и папки настроек IDE
.idea/
*.vscode/

# Файлы конфигурации среды
.env

# Логи
*.log

# Прочие временные файлы
*.tmp
*.swp
*.swo